name: Deployment

on:
  workflow_dispatch:
    inputs:
      version_type:
        description: 'Select version type:'
        required: true
        default: 'patch'
        type: choice
        options:
          - major
          - minor
          - patch

jobs:
  deploy:
    runs-on: macos-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get next version
        uses: reecetech/version-increment@2024.10.1
        id: version
        with:
          scheme: semver
          increment: ${{ github.event.inputs.version_type }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Publish to Maven Central
        run: |
          ./gradlew publishAllPublicationsToMavenCentral \
            -PreleaseVersion="${{ steps.version.outputs.version }}" \
            -PmavenCentralUsername="${{ secrets.MAVEN_CENTRAL_USERNAME }}" \
            -PmavenCentralPassword="${{ secrets.MAVEN_CENTRAL_PASSWORD_TOKEN }}" \
            -Psigning.keyId="${{ secrets.SIGNING_KEY_ID }}" \
            -Psigning.password="${{ secrets.SIGNING_PASSWORD }}" \
            -Psigning.secretKeyRingFile="${{ secrets.SIGNING_SECRET_KEY_RING_FILE }}"

      - name: Release
        run: |
          ./gradlew jreleaserRelease \
            -PreleaseVersion="${{ steps.version.outputs.version }}" \
            -PgithubToken="${{ secrets.GITHUB_TOKEN }}"
