name: Testing

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Run Java Testing
        run: |
          ./gradlew ktor-server-rabbitmq-java:allTests
