name: Testing

on:
  pull_request:
    types:
      - opened
      - synchronize


jobs:
  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Run all tests and generate coverage reports
        run: ./gradlew allTests koverXmlReport
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
